/* General stuff */
:root {
    --dashboard-bg-blue: rgb(0 140 209);
    --search-bar-blue: rgb(225 231 240);
    --card-yellow-bar: rgb(246 184 60);
    --main-content-bg-color: rgb(225 231 240);
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif; /*to be changed to roboto*/
}

html,
body {
    height: 100vh;
}

body {
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
}

ul {
    list-style-type: none;
}

svg {
    width: 25px; /*to be changed*/
}

input:hover,
button:hover {
    opacity: 0.9;
    cursor: pointer;
}

svg:hover,
li:hover {
    cursor: pointer;
}

/* Header */

.header {
    box-shadow: 1px 2px 5px rgb(146, 146, 146);
    display: grid;
    height: 98%;
}

.header nav {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0px 25px;
    gap: 5rem;
}

.header nav form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header nav form input[type='search'] {
    border: 0px;
    background-color: var(--search-bar-blue);
    font-size: 15px;
    border-radius: 25px;
    padding: 8px;
    flex: 1;
}

.header nav > div {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-weight: bold;
    justify-content: flex-end;
}

nav img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.header button {
    color: white;
    background-color: var(--dashboard-bg-blue);
    border: 0px;
    padding: 10px 25px;
    font-weight: bold;
    border-radius: 40px;
}

.header .user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.header .user-info > div > div {
    display: grid;
    align-items: center;
    font-weight: bold;
}

.user-info img[src="./icons/morgan.jpg"] {
    width: 8%;
    height: 4%;
    border-radius: 100px;
}

.header .user-info > div:first-of-type {
    display: flex;
    gap: 25px;
    align-items: center;
}

.header .user-info .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

.header .user-info h1 {
    font-size: 1.5em;
}

/* Sidebar / Dashboard */
.sidebar {
    grid-row: span 2;

    color: white;
    background-color: var(--dashboard-bg-blue);
    font-weight: 900;
    padding: 25px;
}

.sidebar > div {
    height: min-content;
    display: grid;
    gap: 3rem;
}

.sidebar svg {
    fill: white;

}

.sidebar h1, 
.sidebar li {
    display: flex;
    gap: 12px;
    align-items: center;
}

.sidebar h1 {
    height: min-content;
    font-size: 1.3em;
}

.sidebar h1 svg {
    /* width: 45px; */
}

.sidebar li {
    margin-bottom: 12px;
}

/* Main Content */

.main-content {
    display: grid;
    grid-template: 1fr 1fr / 2.5fr 1fr; /* to be changed*/
    gap: 20px;

    background-color: var(--main-content-bg-color);
    padding: 20px;
}

.main-content div h1 {
    margin-bottom: 12px;
    font-size: 21px;
}

.card{
    background-color: white;
    
}

.projects {
    grid-row: span 2;
}

.projects .cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.projects .card {
    border-radius: 10px;
    height: 8em;
    border-left: 10px solid var(--card-yellow-bar);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 27px;

    position: relative;
    box-shadow: 1px 2px 5px rgb(146, 146, 146);
}

.projects .card h2 {
    font-size: 18px;
}

.projects .card p {
    font-size: 14px;
    color: gray;

    overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.projects .card .options {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.announcements > div {
    background-color: white;
    border-radius: 20px;
    padding: 0px 25px 5px 25px;
    box-shadow: 1px 2px 5px rgb(146, 146, 146);
    
}

.announcements > div .card {
    border-bottom: 1px solid gray;
    padding-top: 20px;
    padding-bottom: 10px;
    
}

.announcements > div .card:last-child {
    border-bottom: 0;
}

.announcements > div .card h2 {
    font-size: 0.95em;
}

.announcements > div .card p {
    color: gray;
    font-size: 0.75em;
    overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
    
    
}

.trending > div {
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 1px 2px 5px rgb(146, 146, 146);
}

.trending img {
    width: 50px;
    border-radius: 70px;
}

.trending .card {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 7px;
    font-size: 0.9em;
}

.trending .card .description {
    color: gray;
    margin-bottom: 5px;
}