/* General stuff */

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
}

/* Header */

.header {
    grid-column: 2 3;
    grid-row: 1 2;
}

/* Sidebar / Dashboard */
.sidebar {
    grid-row: span 2;
}


/* Main Content */

.main-content {
    display: grid;
    grid-template: repeat(2, 1fr) / 2.5fr 1fr;
}

.projects {
    grid-row: span 2;
}